@model IEnumerable<SongsAndPlaylist.Models.PlaylistSong>

@{
    ViewData["Title"] = "Index";
}
<style>
    * {
        font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    }
</style>
<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @* @Html.DisplayNameFor(model => model.PlaylistSongId)*@
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Playlist)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Song)
            </th>
            @*  <th>
            @Html.DisplayNameFor(model => model.Playlist)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Composer)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @*  @Html.DisplayFor(modelItem => item.PlaylistSongId)*@
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Playlist.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Song.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Song.Composer)
                </td>
                <td>
                    @*  @Html.ActionLink("Edit", "Edit", new { id=item.PlaylistSongId}) |
                @Html.ActionLink("Details", "Details", new { id=item.PlaylistSongId}) |*@
                    @Html.ActionLink("Delete", "Delete", new { id=item.PlaylistId})
                </td>
            </tr>
        }
    </tbody>
</table>
